.aaa-downslider {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.aaa-list-item-circle {
	margin: 10pt;
	border-radius: 50%;
	display: inline-block;
	width: 32pt;
	line-height: 32pt;
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
}

.aaa-list-item-content {
	display: inline-block;
	width: calc(90% - 32pt - 10pt);
	vertical-align: middle;
	border-bottom: 1pt solid #CCC;
}

#aaa_languages {
	border: solid 1pt #FFF;
	color: #FFF;
}

footer svg {
	width: 24pt;
	height: 24pt;
	fill: #FFF;
	margin: 5pt;
}

.aaa-languages {
	font-size: 100%;
	border: solid 1pt #000;
	margin: 5pt;
}

.aaa-options-dropdown {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
