extends:
  - react-app
  - react-app/jest
plugins:
  - react
env:
  browser: true
  node: true
rules:
  react/no-direct-mutation-state: 0
  require-jsdoc: 0
  max-len:
    - warn
    - ignorePattern: import.*;
