#aaa_new_season {
	float: right;
	height: 30pt;
	width: 30pt;
	min-width: 30pt;
}

.aaa-seasons-item {
	float: left;
}

.aaa-seasons-item p {
	line-height: 10pt;
	font-size: 8pt;
	padding: 0pt;
	margin: 2pt;
	float: left;
	display: inline-block;
}

.aaa-seasons-item svg {
	display: inline-block;
	float: left;
	width: 80%;
	max-height: 130pt;
}
