.aaa-drawer-header {
	padding: 10pt;
}

.aaa-drawer-header img {
	width: 48pt;
	height: 48pt;
	border-radius: 24pt;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1pt solid #CCC;
}

#aaa_drawer .material-icons {
	vertical-align: middle;
}
