.mdl-mini-footer{
	padding: 0 10pt;
}

#aaa_header_title{
	display: none;
}

#aaa_header_logout{
	display: none;
}

#aaa_header .mdl-layout__drawer-button{
	display: none;
}

.aaa-drawer-header{
	padding:10pt;
}

.aaa-drawer-header img{
    width: 48pt;
    height: 48pt;
    border-radius: 24pt;
    display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1pt solid #CCC;
}

.aaa-options-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#aaa_drawer .material-icons {
	vertical-align: middle;
}

#login_box{
	width:unset;
}
	#login_box .mdl-card__title{
		height:200pt;
	}

#login{
	float:right;
}

.aaa-login{
	width:100%;
}
	
.mdl-cell--4-col-offset{
	margin-left: calc(33.3333% - 16px);
}