.mdl-mini-footer{
	padding: 0 10pt;
}

.mdl-card{
	width: unset;
	min-height: unset;
}

#aaa_gauge_ends div strong{
	padding: 5pt;
}

.aaa-arrow-input{
	font-size:10pt;
	min-height: 23pt;
	min-width: 23pt;
	height: 25pt;
	width: 25pt;
}

.aaa-arrow-end{
	border-radius: 25%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 24pt;
	height: 23.5pt;
	width: 23.5pt;
	border: solid 1pt #444;
}

.aaa-arrows{
	width: calc(100% - 25pt);
}

#aaa_remove_arrow{
	min-height: 20pt;
	min-width: 20pt;
}

#aaa_close_end{
	min-height: 20pt;
	min-width: 20pt;
}

#aaa_gauge_targets label{
	margin: 5pt;
	width: 40%;
	font-size: 8pt;
	display: inline-block;
}

#aaa_new_gauge{
	margin: 5pt;
	float: right;
}

#aaa_new_training{
	margin: 5pt;
	float: right;
}

#aaa_training_content p{
	display: inline-block;
    margin: 0 5pt 10pt 5pt;
    font-size: 8pt;
}

#aaa_training_content h2{
	margin: 0 0 10pt 0;
	font-size: 16pt;
	line-height: unset;
}

#aaa_add_training{
	float: right;
	margin: 2%;
}

.aaa-training-options{
	width: 100%;
	display: inline-block;
}

#aaa_training_options label{
	margin: 5pt;
	width: 40%;
}

.aaa-training-field{
	width: 30%;
	padding: 5pt;
	float: left;	
}

#aaa_header_title{
	display: none;
}

#aaa_header_logout{
	display: none;
}

#aaa_header .mdl-layout__drawer-button{
	display: none;
}

#aaa_languages{
	border: solid 1pt #FFF;
	color: #FFF;
}

footer svg{
	width: 24pt;
    height: 24pt;
	fill: #FFF;
    margin: 5pt;
}

.aaa-languages{
	font-size: 100%;
	border: solid 1pt #000;
	margin: 5pt;
}

.aaa-drawer-header{
	padding:10pt;
}

.aaa-drawer-header img{
    width: 48pt;
    height: 48pt;
    border-radius: 24pt;
    display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1pt solid #CCC;
}

.aaa-options-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.mdl-layout__drawer {
  width: 200pt;
  left: -100pt;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}

#aaa_drawer .material-icons {
	vertical-align: middle;
}

#login_box{
	width:unset;
}
	#login_box .mdl-card__title{
		height:200pt;
	}

#login{
	float:right;
}

.aaa-login{
	width:100%;
}