body{
	font-family:arial;
}



.skip_header{
	height:44.5pt;
	float:left;
	width:100%;
}

.sidebar{
	float:left;
	width:13.9%;
}

.labels{
	float:left;
}

.label{
	float:left;
	width: 100%;
	border-bottom: 1pt solid #000;
	font-size: 8pt;
	padding: 0 0 0 5pt;
	margin: 0;
}

.label p{
	height: 10pt;
	padding: 0;
	margin: 0;
}

.label table{
	width:100%;
	font-size: 8pt;
}

.label .text{
	width:30%;
	text-align:right;
	font-size: 8pt;
}

.label .text p{
	border-bottom: 1pt dotted #000;
	height:10pt;
	padding: 0 10pt 0 0;
	margin: 0;
}

.label .text p:nth-last-child(1){
	border-bottom: none;
	float:right;
}

.classes{
	float: left;
	border: none !important;
}

.individual_results{
	float: right;
	width: 40%;
}

.header_day {
	border-bottom: 1.5pt solid #000 !important;
}

.fixed {
	border-bottom: 1.5pt solid #000 !important;
}

.weekend{
	background-color: #CCFFFF;
}

.offtime{
	background-color: #CCCCCC !important;
}

.summary{
	background-color: #EEEEEE;
	font-weight: bold;
}

.subtotal{
	font-weight: bold;
}

.day:nth-child(7n+1){	
	border-left: none;
}

.day {
	width: 13.8%;
	border-left: 1pt dotted #000;
	border-bottom: 1pt dotted #000;
	float: left;
	height: 10pt;
}

.end{
	border-bottom: 1pt solid #000 !important;
}

.week:nth-child(2) {
	border-left: 1.5pt solid #000;
}

.week {
	float: left;
	border-top: 1.5pt solid #000;
	border-bottom: 1.5pt solid #000;
	border-right: 1.5pt solid #000;
	font-size: 8pt;
	text-align:center;
}

.week-title{
	float: left;
	width: 100%;
	text-align: right;
	border-bottom: 1.5pt solid #000;
	height:30pt;
}

.week-title h2{
	float: right;
	font-weight:bold;
	color: #C0C0C0;
	font-size: 20pt;
	margin: 7pt 0 0 0;
}

.week-title p{
	float: right;
	font-size: 7pt;
}