#aaa_report_season_graph{
	float: left;
}

#aaa_report_daily_graph{
	float: left;
}

#aaa_report_selector {
	padding: 20pt 0pt 0px 20pt;
}

#aaa_report_selector p {
	display: inline;
	font-size: 15pt;
	padding: 0pt 0pt 0px 20pt;
}

#aaa_report_content {
	margin: 10pt;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

#aaa_report_content h2 {
	font-size: 15pt;
	line-height: 15pt;
	padding: 30pt 0pt 10pt 0pt;
	margin: 0pt;
	float: left;
	width: 100%;
}

#aaa_report_content h2:first-child {
	padding: 0pt 0pt 10pt 0pt;
}

.aaa-report-skip-header {
	height: 44.5pt;
	float: left;
	width: 100%;
}

.aaa-report-sidebar {
	float: left;
	width: 140pt;
}

.aaa-report-labels {
	float: left;
}

.aaa-report-label {
	float: left;
	width: 100%;
	border-bottom: 1pt solid #000;
	padding: 0 0 0 5pt;
	margin: 0;
}

.aaa-report-label p {
	height: 10pt;
	line-height: 10pt;
	padding: 0;
	margin: 0;
	font-size: 8pt;
}

.aaa-report-label table {
	width: 100%;
	font-size: 8pt;
}

.aaa-report-label .aaa-report-text {
	width: 15%;
	text-align: right;
	font-size: 8pt;
}

.aaa-report-label .aaa-report-text p {
	border-bottom: 1pt dotted #000;
	height: 10pt;
	padding: 0 10pt 0 0;
	margin: 0;
}

.aaa-report-label .aaa-report-text p:nth-last-child(1) {
	border-bottom: none;
	float: right;
}

.aaa-report-classes {
	float: left;
	border: none !important;
	padding: 0pt !important; /*TODO fix overlap when it is too long*/
}

.aaa-report-individual-results {
	float: right;
	width: 40%;
}

.aaa-report-individual-inacurracy {
	float: right;
	width: 90%;
	border-bottom: 1pt solid #000 !important;
}

.aaa-report-individual-inacurracy:nth-last-child(1) {
	border-bottom: none !important;
}

.aaa-report-header-day {
	border-bottom: 2pt solid #000 !important;
}

.aaa-report-fixed {
	border-bottom: 2pt solid #000 !important;
}

.aaa-report-weekend {
	background-color: #CCFFFF;
}

.aaa-report-offtime {
	color: #777777 !important;
	background-color: #CCCCCC !important;
}

.aaa-report-summary {
	background-color: #EEEEEE;
	font-weight: bold;
}

.aaa-report-subtotal {
	font-weight: bold;
}

.aaa-report-day:nth-child(7n+1) {
	border-left: none;
}

.aaa-report-day {
	width: 19.35pt;
	border-left: 1pt dotted #000;
	border-bottom: 1pt dotted #000;
	float: left;
	height: 10pt;
	line-height: 10pt;
}

.aaa-report-week-summary {
	width: 100%;
	border: none;
	float: left;
	height: 10pt;
	line-height: 10pt;
	font-weight: bold;
}

.aaa-report-end {
	border-bottom: 1pt solid #000 !important;
}

.aaa-report-week:nth-child(2) {
	border-left: 1.5pt solid #000;
}

.aaa-report-week {
	float: left;
	border-top: 1.5pt solid #000;
	border-bottom: 1.5pt solid #000;
	border-right: 1.5pt solid #000;
	font-size: 8pt;
	text-align: center;
	width: 140pt;
}

.aaa-report-week-title {
	float: left;
	width: 100%;
	text-align: right;
	border-bottom: 1.5pt solid #000;
	height: 30pt;
}

.aaa-report-week-title h3 {
	float: right;
	font-weight: bold;
	color: #C0C0C0;
	font-size: 20pt;
	line-height: 20pt;
	margin: 7pt 0 0 0;
}

.aaa-report-week-title p {
	float: right;
	font-size: 7pt;
}
