#aaa_gauge_ends div strong {
	padding: 5pt;
}

.aaa-arrow-input {
	font-size: 10pt;
	min-height: 23pt;
	min-width: 23pt;
	height: 25pt;
	width: 25pt;
}

.aaa-arrow-end {
	border-radius: 25%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 24pt;
	height: 23.5pt;
	width: 23.5pt;
	border: solid 1pt #444;
}

.aaa-arrows {
	width: calc(100% - 25pt);
}

#aaa_remove_arrow {
	min-height: 20pt;
	min-width: 20pt;
}

#aaa_close_end {
	min-height: 20pt;
	min-width: 20pt;
}

#aaa_gauge_targets label {
	font-size: 8pt;
}

#aaa_new_gauge {
	margin: 5pt;
	float: right;
}
